{% load static %}
<head>
    <title>Registered Students</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="icon" href="{% static 'img/favicon.ico' %}/">
</head>


<body>

    <div class="section">
        <div class="container-fluid" style="background-color:#4c811d; height:25px;"></div>

        <div class="container-fluid">
            <div class="row">
                <h2 class="col">
                    <img class="d-inline-block align-top" src="{% static 'img/wiregrass_sprigs.png' %}">
                    Registered Students
                </h2>
                <hr>
            </div>
        </div>
    </div>

