{% load static %}
{% include 'header.html' %}


<div class="section">
    <div class="container">
        <form method="GET">
            <div class="row">
                <div class="form-group col">
                    <label for="Term">Term: </label>
                    <select class="form-control" name="Term">
                        {% for t in Terms %}
                            <option value="{{t.semester}}" {%if termGet == t.semester %}selected{%endif%}>{{t.semester}}</option>
                        {%endfor%}
                    </select>
                </div>

                <div class="form-group col">
                    <label for="Majors">Majors: </label>
                    <select class="form-control" name="Majors" multiple>
                        {% for m in Majors %}
                                <option value="{{m.code}}">{{m.code}} : {{m.desc}}</option>
                        {%endfor%}
                    </select>
                </div>

                <div class="form-group col">
                    <button class="btn btn-primary btn-block" type="submit">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="section">
    <div class="container" style="padding: 15px;">
        <div class="row" style="background-color: lightgray; border: 1px black solid; padding: 3px;">
            <div class="col-md-3 fname">
                <p style="text-align:center;"><strong>First Name:</strong></p>
            </div>
            <div class="col-md-3 lname">
                <p style="text-align:center;"><strong>Last Name:</strong></p>
            </div>
            <div class="col-md-3 studentid">
                <p style="text-align:center;"><strong>Student ID:</strong></p>
            </div>
            <div class="col-md-3 degreecode">
                <p style="text-align:center;"><strong>Degree Code:</strong></p>
            </div>
        </div>
        {% for s in Students %}
            {% if forloop.counter|divisibleby:2 %}
                <div class="row student" style="background-color: lightgray; border: 1px black solid; padding: 3px;">
            {%else%}
                <div class="row student" style="background-color: white; border: 1px black solid; padding: 3px;">
            {%endif%}
                <div class="col-md-3 fname">
                    <p style="text-align:center;">{{s.FName}}</p>
                </div>
                <div class="col-md-3 lname">
                    <p style="text-align:center;">{{s.LName}}</p>
                </div>
                <div class="col-md-3 studentid">
                    <p style="text-align:center;">{{s.StudentID}}</p>
                </div>
                <div class="col-md-3 degreecode">
                    <p style="text-align:center;">{{s.degree_code}}</p>
                </div>
            </div>
        {%endfor%}
    </div>
</div>

{% include 'footer.html' %}